@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  /*=======  CORES  ========*/
  --hue: 240;
  --frist-color: hsl(var(--hue), 16%, 18%);
  --frist-color-alt: hsl(var(--hue), 16%, 12%);
  --tittle-color: hsl(var(--hue), 8%, 15%);
  --tex-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*=======  FONTES  ========*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: 0.938rem;

  /*=======  Z-INDEX  ========*/
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  }
}

/*==========  BASE  ===========*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--tex-color);
  position: relative;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*==========  MODAL  ===========*/
.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal {
  height: 100vh;
  display: grid;
  place-items: center;
}

.modal_button {
  display: inline-block;
  background-color: var(--frist-color);
  color: #fff;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.modal_button:hover {
  background-color: var(--frist-color-alt);
}

.modal_container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(var(--hue), 18%, 75%, 0.8);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  transition: all 0.3s;
  z-index: var(--z-modal);
  visibility: hidden;
  opacity: 0;
}

.modal_content {
  position: relative;
  background-color: var(--container-color);
  text-align: center;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem 1rem 0 0;
  transition: all 0.3s;

  /*=== Effect 1 ==*/
  transform: translateY(10%);
}

.modal_img {
  width: 150px;
  margin-bottom: 0.75rem;
}

.modal_close {
  display: inline-flex;
  background-color: var(--frist-color);
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.modal_title {
  font-size: var(--big-font-size);
  color: var(--tittle-color);
  font-weight: 500;
}

.modal_descripiton {
  margin-bottom: 1.5rem;
}

.modal_button-width {
  width: 90%;
}

.modal_button-link {
  display: block;
  margin: 1rem auto 0;
  background-color: transparent;
  color: var(--frist-color);
  font-weight: 500;
}
/*  SHOW MODAL */
.show_modal {
  visibility: visible;
  opacity: 1;
}

.show_modal .modal_content {
  transform: translate(0);
}
/*==========  BREAKPOINTS  ===========*/
/*  FOR SMALL DEVICES  */
@media screen and (min-width: 576px) {
  .modal_content {
    margin: auto;
    width: 380px;
    border-radius: 1.25rem;
  }

  .modal_img {
    width: 170px;
  }
}
